{% extends 'core/base.html' %}

{% block title %}Log In | {% endblock %}

{% block content %}

<div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-md">
        <h1 class="text-center text-5xl mb-6 text-gray-700 font-medium">Log In</h1>
        <form action="." method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <input type="text" name="username" id="username"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    required>
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input type="password" name="password" id="password"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    required>
            </div>
            <div class="flex items-center justify-between">
                <a href="/login/"
                    class="inline-block align-baseline font-bold text-sm text-blue-900 hover:text-blue-700">
                    Don't have an account?
                </a>
                <button type="submit"
                    class="bg-neutral-700 hover:bg-neutral-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button">
                    Log In
                </button>
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="text-red-500 text-xs italic">{{ error|escape }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}